@import "tailwindcss";

/* changes base color scheme with system theme*/
@theme {
  --color-bg: theme(colors.stone.50);
  --color-surface: theme(colors.white);  
  --color-accent: theme(colors.red.400);  
  --color-highlight: theme(colors.sky.400);
  --color-text-primary: theme(colors.stone.900);
  --color-text-secondary: theme(colors.stone.600);
  --color-border: theme(colors.stone.300);
}

@media (prefers-color-scheme: dark) {
  :root {
        --color-bg: theme(colors.slate.950);
        --color-surface: theme(colors.slate.800);
        --color-accent: theme(colors.red.400);
        --color-highlight: theme(colors.sky.400);
        --color-text-primary: theme(colors.slate.50);
        --color-text-secondary: theme(colors.slate.400);
        --color-border: theme(colors.slate.700);
  }  
}

/*  Global reset or shared rules */
@layer base {  
  html,
  body,
  #root {
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  } 
 
  body {
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    font-family: 'Inter', 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      border-color 0.3s ease;
  }
}


/* Manual override light/dark theme button*/
/* [data-theme="light"] {
  --color-bg: theme(colors.stone.50);
  --color-surface: theme(colors.white);
  --color-accent: theme(colors.red.400);
  --color-highlight: theme(colors.sky.400);
  --color-text-primary: theme(colors.stone.900);
  --color-text-secondary: theme(colors.stone.600);
  --color-border: theme(colors.stone.300);
}
[data-theme="dark"] {
  --color-bg: theme(colors.slate.950);
  --color-surface: theme(colors.slate.800);
  --color-accent: theme(colors.red.400);
  --color-highlight: theme(colors.sky.400);
  --color-text-primary: theme(colors.slate.50);
  --color-text-secondary: theme(colors.slate.400);
  --color-border: theme(colors.slate.700);
} */

@import "./styles/base.css";




