@import "tailwindcss";

@theme {
    --color-txPrimary: theme(colors.stone.900);
    --color-txSecondary: theme(colors.stone.800);
    --color-bgPrimary: theme(colors.stone.300);
    --color-bgSecondary: theme(colors.stone.100);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-txPrimary: theme(colors.stone.100);
    --color-txSecondary: theme(colors.stone.300);
    --color-bgPrimary: theme(colors.stone.900);
    --color-bgSecondary: theme(colors.stone.800);
  }
}

/* to reference these theme variables, example:
   bg-bgPrimary text-txPrimary */